* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    text-align: center;
}

.week {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.weekHeader {
    display: flex;
    flex-direction: column;
    width: 40px;
}

.day {
    display: flex;
    flex-direction: column;
    width: 125px;
}

.title {
    height: 20px;
    border: 1px solid red;
    margin: 1px 1px 0 0;
}

.hour {
    height: 20px;
    border: 1px solid red;
    margin: 1px 1px 0 0;
}
